section#about
    div.row
        div.large-12.column
            h2.section-title About Me

    div.row
        div.intro.large-12.column
            - each p in about.intro
                - p = p.replace(/\[(.*?)\]\((.*?)\)/g, "<a href='$2'>$1</a>")
                p !{p}

    div.row
        //- Specifications: Main
        div.specs-main.large-8.medium-8.column
            - if(about.specs.experience.length > 0)
                div.panel
                    h4 Experience

                    - each item in about.specs.experience
                        div.item
                            div.date #{item.date}
                            div.details
                                span.organization #{item.organization}
                                span.title : #{item.title}
                                div.desc
                                    p #{item.desc}

            - if(about.specs.volunteer.length > 0)
                div.panel
                    h4 Volunteer

                    - each item in about.specs.volunteer
                        div.item
                            div.date #{item.date}
                            div.details
                                span.organization #{item.organization}
                                span.title : #{item.title}
                                div.desc
                                    p #{item.desc}

            - if(about.specs.activities.length > 0)
                div.panel
                    h4 Activities

                    - each item in about.specs.activities
                        div.item
                            div.date #{item.date}
                            div.details
                                span.organization #{item.organization}
                                span.title : #{item.title}
                                div.desc
                                    p #{item.desc}

        //- Specifications: Sub
        aside.specs-sub.large-4.medium-4.column
            div.panel
                h4 Skills

                - for(var category in about.specs.skills)
                    div.sub-section
                        - var cat = category.charAt(0).toUpperCase() + category.substring(1).replace(/_(.)/g, function(a, b) { return " " + b.toUpperCase() })

                        div.category #{cat}
                        div.item
                            - each item, index in about.specs.skills[category]
                                span #{item}

                                - if(index !== about.specs.skills[category].length - 1)
                                    | , <!---->

            - if(about.specs.certifications.length > 0)
                div.panel
                    h4 Education

                    - each ed in about.specs.education
                        div.item #{ed}

            - if(about.specs.certifications.length > 0)
                div.panel
                    h4 Certifications

                    - each cert in about.specs.certifications
                        div.item #{cert}

            - if(about.specs.awards.length > 0)
                div.panel
                    h4 Awards

                    - each award in about.specs.awards
                        div.item #{award}

