mixin portfolio-item(project)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.demoUrl = project.demoUrl || "#"
    - project.srcUrl = project.srcUrl || "#"
    - project.thumbnail = project.thumbnail || "//placehold.it/400x400"

    li
        div.portfolio-item.panel
            div.item-img-wrapper
                img(src="#{project.thumbnail}")
            div.item-caption
                h4 #{project.title}
                p #{project.caption}
                a.button.tiny.radius(href="#")
                    i.fa.fa-search
                    span.text Read more
                | &nbsp;
                a.button.tiny.radius(href="#{project.demoUrl}")
                    i.fa.fa-cogs
                    span.text Live Demo
                | &nbsp;
                a.button.tiny.radius(href="#{project.srcUrl}")
                    i.fa.fa-code
                    span.text Source Code
