mixin portfolio-item(project)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.demoUrl = project.demoUrl || "#"
    - project.srcUrl = project.srcUrl || "#"
    - project.thumbnail = project.thumbnail || "//placehold.it/400x400"

    li
        div.portfolio-item.panel
            div.item-caption
                h4 #{project.title}
                p #{project.caption}
                a.button.tiny.radius(href="#") Read more
                | &nbsp;
                a.button.tiny.radius(href="#{project.demoUrl}") Live Demo
                | &nbsp;
                a.button.tiny.radius(href="#{project.srcUrl}") Source Code
            img(src="#{project.thumbnail}")
