mixin portfolio-item(project)
    li
        div.portfolio-item.panel
            div.item-caption
                h4 #{project.title}
                p #{project.caption}
                //a.button.tiny.radius(href="#") Read more
                //a.button.tiny.radius(href="#{project.demoUrl}") Live Demo
                //a.button.tiny.radius(href="#{project.srcUrl}") Source Code
            //img(src="#{project.thumbnailUrl}")
