mixin portfolio-item(project)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.categories = project.categories || []
    - project.thumbnail = project.thumbnail || "//placehold.it/240&text=No+Image+Available"

    - var categories = project.categories.join(" ")

    li.portfolio-item(class = categories)
        div.panel
            div.item-img-wrapper
                img.lazy(src="#", data-src="#{project.thumbnail}", width="240", height="240", alt="Thumbnail for #{project.title}")
                noscript
                    img(src="#{project.thumbnail}", width="240", height="240", alt="Thumbnail for #{project.title}")

            div.item-caption
                h4 #{project.title}
                p #{project.caption}

                div
                    - if(project.detailsUrl !== "")
                        a.button.tiny.radius(href="#", title="Read more")
                            i.fa.fa-search
                        | &nbsp;
                    - if(project.demoUrl !== "")
                        a.button.tiny.radius(href="#{project.demoUrl}", title="Live Demo")
                            i.fa.fa-cogs
                        | &nbsp;
                    - if(project.srcUrl !== "")
                        a.button.tiny.radius(href="#{project.srcUrl}", title="Source Code")
                            i.fa.fa-code
