mixin portfolio-item(project)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.demoUrl = project.demoUrl || "#"
    - project.srcUrl = project.srcUrl || "#"
    - project.thumbnail = project.thumbnail || "//placehold.it/400x400"

    li
        div.portfolio-item.panel
            div.item-img-wrapper
                img(src="#{project.thumbnail}")
            div.item-caption
                h4 #{project.title}
                p #{project.caption}

                div.buttons-text
                    a.button.tiny.radius(href="#") Read more
                    | &nbsp;
                    a.button.tiny.radius(href="#{project.demoUrl}") Live Demo
                    | &nbsp;
                    a.button.tiny.radius(href="#{project.srcUrl}") Source Code

                div.buttons-icon
                    a.button.tiny.radius(href="#", title="Read more")
                        i.fa.fa-search
                    | &nbsp;
                    a.button.tiny.radius(href="#{project.demoUrl}", title="Live Demo")
                        i.fa.fa-cogs
                    | &nbsp;
                    a.button.tiny.radius(href="#{project.srcUrl}", title="Source Code")
                        i.fa.fa-code
