mixin showcase-item(project, position)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.thumbnail = project.thumbnail || "//placehold.it/240&text=No+Image+Available"

    div.row(class = position === 0 ? "row-even" : "row-odd")
        div.showcase-thumbnail.large-3.medium-4(class = position === 0 ? "large-push-9 medium-push-8 text-right" : "text-left").column
            img.lazy(data-src="#{project.thumbnail}", alt="Thumbnail for #{project.title}")
            noscript
                img(src="#{project.thumbnail}", alt="Thumbnail for #{project.title}")

        div.large-9.medium-8(class = position === 0 ? "large-pull-3 medium-pull-4" : undefined).column
            div.showcase-title
                h3 #{project.title}

            div.showcase-text
                p #{project.caption}

                div.buttons-text
                    - if(project.detailsUrl !== "")
                        a.button.small.radius(href="#{project.detailsUrl}")
                            i.fa.fa-search
                            | &nbsp;
                            span Read more
                        | &nbsp;
                    - if(project.demoUrl !== "")
                        a.button.small.radius(href="#{project.demoUrl}")
                            i.fa.fa-cogs
                            | &nbsp;
                            span Live Demo
                        | &nbsp;
                    - if(project.srcUrl !== "")
                        a.button.small.radius(href="#{project.srcUrl}")
                            i.fa.fa-code
                            | &nbsp;
                            span Source Code

                div.buttons-icon
                    - if(project.detailsUrl !== "")
                        a.button.small.radius(href="#", title="Read more")
                            i.fa.fa-search
                        | &nbsp;
                    - if(project.demoUrl !== "")
                        a.button.small.radius(href="#{project.demoUrl}", title="Live Demo")
                            i.fa.fa-cogs
                        | &nbsp;
                    - if(project.srcUrl !== "")
                        a.button.small.radius(href="#{project.srcUrl}", title="Source Code")
                            i.fa.fa-code
