mixin showcase-item(project, position)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.thumbnail = project.thumbnail || "//placehold.it/400x400"

    div.row(class = position === 0 ? "row-even" : "row-odd")
        div.showcase-thumbnail.medium-4(class = position === 0 ? "medium-push-8" : undefined).column(class = position === 0 ? "text-right" : "text-left").small-only-text-center
            img(src="#{project.thumbnail}", alt="Thumbnail for #{project.title}")

        div.medium-8(class = position === 0 ? "medium-pull-4" : undefined).column
            div.showcase-title
                h3.small-only-text-center #{project.title}

            div.showcase-text.small-only-text-center
                p.text-justify.small-only-text-center #{project.caption}

                div.buttons-text.show-for-medium-up.hide-for-small-only
                    - if(project.detailsUrl !== "")
                        a.button.small.radius(href="#{project.detailsUrl}") Read more
                        | &nbsp;
                    - if(project.demoUrl !== "")
                        a.button.small.radius(href="#{project.demoUrl}") Live Demo
                        | &nbsp;
                    - if(project.srcUrl !== "")
                        a.button.small.radius(href="#{project.srcUrl}") Source Code

                div.buttons-icon.show-for-small-only.hide-for-medium-up
                    - if(project.detailsUrl !== "")
                        a.button.small.radius(href="#", title="Read more")
                            i.fa.fa-search
                        | &nbsp;
                    - if(project.demoUrl !== "")
                        a.button.small.radius(href="#{project.demoUrl}", title="Live Demo")
                            i.fa.fa-cogs
                        | &nbsp;
                    - if(project.srcUrl !== "")
                        a.button.small.radius(href="#{project.srcUrl}", title="Source Code")
                            i.fa.fa-code
