mixin showcase-item(project, position)
    - project.title = project.title || ""
    - project.caption = project.caption || ""
    - project.thumbnail = project.thumbnail || "//placehold.it/400x400"

    div.row(class = position === 0 ? "row-even" : "row-odd")
        div.showcase-thumbnail.medium-4(class = position === 0 ? "medium-push-8" : undefined).column
            img(src="#{project.thumbnail}", alt="Thumbnail for #{project.title}")

        div.medium-8(class = position === 0 ? "medium-pull-4" : undefined).column
            div.showcase-title
                h3 #{project.title}

            div.showcase-text
                p #{project.caption}

                p
                    - if(project.detailsUrl !== "")
                        a.button.small.radius(href="#{project.detailsUrl}")
                            i.fa.fa-search
                            Read more
                        | &nbsp;
                    - if(project.demoUrl !== "")
                        a.button.small.radius(href="#{project.demoUrl}")
                            i.fa.fa-cogs
                            Live Demo
                        | &nbsp;
                    - if(project.srcUrl !== "")
                        a.button.small.radius(href="#{project.srcUrl}")
                            i.fa.fa-code
                            Source Code
