doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        title #{about.name} | #{about.alias}

        //-meta(name="description", content="#{about.slogan}")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lato:700,700italic,400,400italic,300,300italic")
        link(rel="stylesheet", type="text/css", href="/_styles/site.css")

        style(type="text/css")
            include ./styles/imports/misc/contact.css

    body
        //- Header
        header#header
            //- Header: Logo
            section#logo
                div.row
                    div.large-12.column
                        h1 #{about.name}

            //- Header: Navigation
            nav#nav
                div.row
                    div.large-12.column
                        span.title #{about.name}
                        a.nav-collapse
                            i.fa.fa-bars

                    span.links
                        a(href="#about") About
                        a(href="#showcase") Showcase
                        a(href="#portfolio") Portfolio
                        a(href="#contact") Contact

            //- Header: Banner
            div#banner
                div.row
                    div.large-12.column

        //- Main Content
        main#main
            include ./templates/layouts/about.jade
            include ./templates/layouts/showcase.jade
            include ./templates/layouts/portfolio.jade
            include ./templates/layouts/contact.jade

        //- Footer
        footer#footer
            div.row
                div.large-12.column
                    - var copyright = __LICENSE__.COPYRIGHT.replace("\(c\)", "&copy;")
                    - var gh_pages = __LICENSE__.SEE.replace(/http(.*):/, "").replace(/\s.*/, "")

                    p
                        | !{copyright}
                        br
                        | Hosted on&nbsp;
                        a(href="#{gh_pages}") GitHub Pages
                        |  &mdash; Theme by&nbsp;
                        a(href="#{contacts.social.GitHub}") chessmasterhong

        a.scrollToTop(href="#")
            i.fa.fa-caret-up

        script(type="text/javascript", src="/_scripts/site.js")

        - if(analytics)
            script(type="text/javascript") !{analytics}
